@font-face {
	font-family: "Fira Code";
	font-display: swap;
	src: url("fonts/FiraCode.woff2") format("woff2");
}

@font-face {
	font-family: "Lexend";
	font-display: swap;
	src: url("fonts/Lexend.woff2") format("woff2");
}

body {
	font: normal 18px/1.25 "Lexend", sans-serif;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

li {
	margin: 0.125lh 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

main {
	margin: 0 1lh 1lh;
}

header {
	margin: 1lh 1lh 0;
}

footer {
	padding: 0.5lh;
}

ul {
	padding-left: calc(0.5lh + 1em);
}

figure:has(blockquote) {
	margin: 0;
}

figure:has(blockquote) figcaption {
	margin-left: 1lh;
}

code {
	font: 80% "Fira Code", monospace, monospace;
	background-color: #ddd6d1;
	padding: 0.15lh;
}

img {
	max-width: 100%;
}

footer {
	font-family: "Fira Code", monospace, monospace;
	background-color: #c3bcb7;
	width: 100%;
	margin: 0;
	text-align: center;
	box-sizing: border-box;
}

small {
	font-size: 75%;
}

a {
	color: #78292d;
}

blockquote {
	border-left: 0.33em solid #984647;
	margin-left: 0;
	padding: 0.01lh 0.8lh;
	background-color: #e3ddd7;
	max-width: fit-content;
}

/* Colors:

#36384f - oklch(0.35 0.04 280)

#c3bcb7 - oklch(0.8 0.01 61)
#ddd6d1 - oklch(0.88 0.01 61)
#e3ddd7 - oklch(0.9 0.01 61)


#78292d - oklch(0.4 0.11 21)
#984647 - oklch(0.5 0.11 21)

*/
