@font-face {
	font-family: "Fira Code";
	font-display: swap;
	src: url("fonts/FiraCode.woff2") format("woff2");
}

@font-face {
	font-family: "Lexend";
	font-display: swap;
	src: url("fonts/Lexend.woff2") format("woff2");
}

body {
	font: normal 1em/1.25 "Lexend", sans-serif;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

main {
	margin: 0 1lh 1lh;
}

header {
	margin: 1lh 1lh 0;
}

footer {
	padding: 0.5lh 0;
}

ul {
	padding-left: calc(0.5lh + 1em);
}

code {
	font: 80% "Fira Code", monospace, monospace;
	background-color: lightgray;
	padding: 0.15lh;
}

img {
	max-width: 100%;
}

footer {
	font-family: "Fira Code", monospace, monospace;
	background-color: lightgray;
	width: 100%;
	margin: 0;
	text-align: center;
}

small {
	font-size: 75%;
}

blockquote {
	border-left: 0.33em solid gray;
	margin-left: 0;
	padding: 0.01lh 0 0.01lh 0.8lh;
}
