html,
body {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
}
textarea {
	height: 100%;
	box-sizing: border-box;
	border: none;
	outline: none;
	resize: none;
	font: 1.25em monospace;
}
#textbox {
	border-right: 1px solid PaleTurquoise;
	border-radius: 0px;
	border-color: darkgray;
	background-color: #fff;
	width: 100%;
	padding: 0.5em;
	overflow-y: scroll;
}
